.App-background {
  background-color: #7cd2d7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.App-tag-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-text{
  color: #fff;
  /* border: 1px solid; */
  width: 90%;
  margin-top: 21%;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}


.App-logo{
  position: fixed;
  bottom: 1%;
  right: 55%;
  z-index: 99;
}

.page-logo{
  width: 461px;
}